header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E6E6E6;
}
h1 {
    color: #005677;
    background: #C4C4C4;
}
h2 {
    color: #005677;
    background: #C4C4C4;
}
.b {
    font-weight: bold;
}
#i {
    font-style: italic;
}
footer {
    display: flex;
    background: #005677;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #FFFFFF
}